<div class="sidebar">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
  >
    <!-- Logo -->
    <div class="img-container text-center w-100">
      <a
        href="/"
        class="d-flex justify-content-center align-items-center pb-3 mb-md-0 text-white text-decoration-none"
      >
        <img
          src="/assets/images/fifa-logo.webp"
          alt="Logo"
          class="rounded-circle me-2 logo-img"
        />
      </a>
    </div>

    <hr class="w-100" />
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-center my-auto"
      id="menu"
    >
      <li class="nav-item w-100">
        <a
          href="#"
          class="nav-link text-center w-100"
          data-bs-toggle="tooltip"
          title="{{ 'sidebar.Register' | translate }}"
        >
          <i class="fa-solid fa-user mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300">{{
            "sidebar.Register" | translate
          }}</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="#"
          class="nav-link text-center w-100"
          data-bs-toggle="tooltip"
          title="{{ 'sidebar.StarPlayers' | translate }}"
        >
          <i class="fa-solid fa-medal mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300">{{
            "sidebar.StarPlayers" | translate
          }}</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="#"
          class="nav-link text-center w-100"
          data-bs-toggle="tooltip"
          title="{{ 'sidebar.LatestNews' | translate }}"
        >
          <i class="fa-regular fa-newspaper mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300">{{
            "sidebar.LatestNews" | translate
          }}</span>
        </a>
      </li>
      <li class="w-100">
        <a
          href="#"
          class="nav-link text-center w-100"
          data-bs-toggle="tooltip"
          title="{{ 'sidebar.MoreVideos' | translate }}"
        >
          <i class="fa-brands fa-youtube mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300">{{
            "sidebar.MoreVideos" | translate
          }}</span>
        </a>
      </li>
    </ul>
    <hr class="w-100" />
    <!-- Footer -->
    <div class="footer my-auto text-center text-white px-3">
      <span class="footer-title mb-3 d-block" style="font-weight: 300"
        >{{ "sidebar.DeveloppedBy" | translate }}:</span
      >
      <div class="d-flex justify-content-center w-100">
        <a
          href="https://github.com/valerioprds"
          target="_blank"
          class="footer-link mx-2"
          data-bs-toggle="tooltip"
          title="valerioprds"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://github.com/gallianoms"
          target="_blank"
          class="footer-link mx-2"
          data-bs-toggle="tooltip"
          title="gallianoms"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</div>
