<div class="sidebar">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <!-- Logo -->
    <div class="img-container text-center w-100">
      <a href="/" class="d-flex justify-content-center align-items-center pb-3 mb-md-0 text-white text-decoration-none">
        <img src="/assets/images/fifa-logo.webp" alt="Logo" class="rounded-circle me-2 logo-img" />
      </a>
    </div>

    <hr class="w-100" />
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-center my-auto" id="menu">
      <li class="nav-item w-100">
        <a href="#" class="nav-link text-center w-100">
          <i class="fa-solid fa-user mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300;">Register/Login</span>
        </a>
      </li>
      <li class="w-100">
        <a href="#" class="nav-link text-center w-100">
          <i class="fa-solid fa-medal mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300;">Stars Players</span>
        </a>
      </li>
      <li class="w-100">
        <a href="#" class="nav-link text-center w-100">
          <i class="fa-brands fa-youtube mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300;">More Videos</span>
        </a>
      </li>
      <li class="w-100">
        <a href="#" class="nav-link text-center w-100">
          <i class="fa-regular fa-newspaper mr-2"></i>
          <span class="ms-1 d-none d-sm-inline" style="font-weight: 300;">Latest News</span>
        </a>
      </li>
    </ul>
    <hr class="w-100" />
    <!-- Footer -->
    <div class="footer my-auto text-center text-white px-3">
      <span class="footer-title mb-3 d-block" style="font-weight: 300;">Developed by:</span>
      <div class="d-flex flex-column align-items-center w-100">
        <div class="footer-item d-flex justify-content-center align-items-center mb-2 w-100">
          <!-- <img src="/assets/images/valerio-github.webp" alt="Developer 1" class="rounded-circle dev-img me-2" /> -->
          <a href="https://github.com/developer1" target="_blank" class="footer-link" style="font-weight: 300;">https://github.com/valerioprds</a>
        </div>
        <div class="footer-item d-flex justify-content-center align-items-center mb-2 w-100">
          <!-- <img src="/assets/images/valerio-github.webp" alt="Developer 2" class="rounded-circle dev-img me-2" /> -->
          <a href="#" target="_blank" class="footer-link" style="font-weight: 300;">https://github.com/gallianoms</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
