<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <!-- Logo -->
        <div class="img-container text-center w-100 mb-3">
          <a
            href="/"
            class="d-flex justify-content-center align-items-center pb-3 mb-md-0 text-white text-decoration-none"
          >
            <img
              src="/assets/images/fifa-logo.webp"
              alt="Logo"
              class="rounded-circle me-2 logo-img"
            />
          </a>
        </div>

        <hr class="w-100" />
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">Orders</span>
            </a>
          </li>
          <li>
            <a
              href="#submenu2"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-bootstrap"></i>
              <span class="ms-1 d-none d-sm-inline">Bootstrap</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu2"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 1
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 2
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#submenu3"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">Products</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu3"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 1
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 2
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 3
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 4
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Customers</span>
            </a>
          </li>
        </ul>
        <hr class="w-100" />
        <!-- Footer -->
        <div class="footer mt-auto text-center text-white w-100 px-3">
          <span class="footer-title mb-3 d-block">Developed by:</span>
          <div class="d-flex flex-column align-items-center w-100">
            <div class="footer-item d-flex align-items-center mb-2 w-100">
              <img
                src="/assets/images/valerio-github.webp"
                alt="Developer 1"
                class="rounded-circle dev-img me-2"
              />
              <a
                href="https://github.com/developer1"
                target="_blank"
                class="text-white footer-link"
                >Valerio Paradiso</a
              >
            </div>
            <div class="footer-item d-flex align-items-center mb-2 w-100">
              <img
                src="/assets/images/valerio-github.webp"
                alt="Developer 2"
                class="rounded-circle dev-img me-2"
              />
              <a
                href="https://github.com/developer2"
                target="_blank"
                class="text-white footer-link"
                >Salvador Gilliano</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
