@if (player) {
<a [routerLink]="['/details', player.id]">
  <div class="player-card d-flex">
    <img class="player-image" [src]="player.imgUrl" [alt]="player.name" />
    <div class="card-body">
      <h5 class="card-title">
        <span style="font-weight: 400">{{ player.number }} - </span>
        {{ player.name }}
      </h5>
      <hr />
      <p class="card-text">
        {{ "cardPlayer.age" | translate }} : {{ player.age }}
      </p>
      <p class="card-text">
        {{ "cardPlayer.position" | translate }}: {{ player.position }}
      </p>
      <p class="card-text">
        {{ "cardPlayer.nationality" | translate }}: {{ player.nationality }}
      </p>
      <p class="card-text">
        {{ "cardPlayer.height" | translate }}: {{ player.height }} cm
      </p>
      <p class="card-text">
        {{ "cardPlayer.weight" | translate }}: {{ player.weight }} kg
      </p>
      <p class="card-text">
        {{ "cardPlayer.club" | translate }}: {{ player.club }}
      </p>
    </div>
  </div>
</a>
}
