@import '../../../../assets/variables';

.player-card {
  position: relative;
  height: 550px;
  width: 100%;
  max-width: 350px; /* Ajusta el ancho máximo para mejor visualización */
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s, box-shadow 0.5s;
  transform: rotate(2.4deg);
  border-radius: 18px;
  cursor: pointer; /* Agrega el cursor pointer */
}

.player-card:hover {
  transform: rotate(0deg) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.player-image {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block;
  transition: transform 0.5s, filter 0.5s;
}

.player-card:hover .player-image {
  filter: brightness(65%);
  transform: scale(1.1);
}

.card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  color: $secondary-color;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.player-card:hover .card-body {
  opacity: 1;
}

.card-title {
  font-size: 1.25rem; /* Ajusta el tamaño del título */
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem; /* Ajusta el tamaño del texto */
  margin: 5px 0;
}
