<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <div class="player-card">
    <img
      class="player-image"
      src="https://www.fcbarcelona.com/photo-resources/2023/11/03/c2c54cd7-cad8-4de8-9018-12a4df101eb7/17-Yamal.jpg?width=1200&height=750"
      alt="Player image"
    />
    <div class="card-body">
      <h5 class="card-title">Player Name</h5>
      <p class="card-text">Position: Forward</p>
      <p class="card-text">Overall: 90</p>
      <p class="card-text">Pace: 92</p>
      <p class="card-text">Shooting: 89</p>
      <p class="card-text">Passing: 85</p>
      <p class="card-text">Dribbling: 91</p>
      <p class="card-text">Defense: 60</p>
      <p class="card-text">Physical: 77</p>
    </div>
  </div>
</div>
