.card {
  width: 100%;
  border-radius: 4px;
  margin: 20px auto; // Centro la tarjeta con margen automático
}

.text-progress {
  display: flex;
  flex-wrap: wrap; // Permitir que el contenido se envuelva en pantallas pequeñas
  align-items: center;
  gap: 10px;
  //padding: 4px;

  @media (max-width: 576px) {
    flex-direction: column; // Cambia la dirección a columna en pantallas pequeñas
    align-items: flex-start; // Alinea los elementos al inicio en pantallas pequeñas
  }
}

.text {
  flex-shrink: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1rem; // Tamaño de fuente relativo para mejor responsividad
}

.progress-container {
  flex-grow: 1; // Permite que el contenedor de la barra de progreso crezca
  width: 100%; // Asegura que ocupe el 100% del ancho disponible
}

.progress {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 20px;
  background-color: #e9ecef; // Color de fondo para la barra de progreso
  width: 100%; // Asegura que ocupe el 100% del ancho disponible
}

.progress-bar {
  background-color: #007bff; // Color de la barra de progreso
  transition: width 0.6s ease; // Transición suave para el ancho
  height: 100%; // Asegura que la barra de progreso ocupe toda la altura del contenedor
}
