@import "../../../../assets/variables";

.breadcrumb {
  background-color: $secondary-color;
  color: #fff;
  padding: 10px 15px;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.breadcrumb-item i {
  font-size: 16px;
  margin-right: 5px;
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #ffc107;
}
