@import "../../../../assets/variables";

.breadcrumb {
  background-color: $secondary-color;
  color: #fff;
  padding: 10px 15px;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px; /* Altura fija deseada */
  overflow: hidden; /* Para asegurarse de que el contenido no se desborde */
  display: flex; /* Usa flexbox para alinear elementos */
  align-items: center; /* Centra verticalmente el contenido */
}

.breadcrumb-item {
  display: flex; /* Asegura que el ítem sea un flex container */
  align-items: center; /* Centra verticalmente el contenido del ítem */
  font-size: 14px;
  letter-spacing: 1px;
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #ffc107;
}

.fa-house {
  /* Ajusta el icono de la casa si es necesario */
  font-size: 16px; /* Tamaño del icono */
  margin-right: 5px; /* Margen derecho para separar el icono del texto */
}
