@import "../../../../assets/variables";

.breadcrumb {
  background-color: $secondary-color;
  color: #fff; /* Fondo oscuro */
  padding: 10px 15px;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.breadcrumb-item {
  font-size: 14px;
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
}

.breadcrumb-item a {
  color: #fff; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.breadcrumb-item.active {
  color: #ffc107; /* Color del texto activo */
}
