<!-- <select
  class="px-3 py-1"
  [(ngModel)]="selectedLanguage"
  (change)="onLanguageChange()"
>
  <option value="en">English</option>
  <option value="es">Castellano</option>
</select> -->

<div class="container-fluid">
  <div class="row flex-nowrap px-0">
    <div class="col-3 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-3 border">
          <app-bread-crumb></app-bread-crumb>
        </div>
        <div class="col-9 border">
          <app-lang-btn></app-lang-btn>
        </div>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
