<!-- <div class="container-fluid">
  <div class="row flex-nowrap px-0">
    <div class="col-3">
      <app-sidebar />
    </div>
    <div class="col-9 ">
      <div class="row">
        <div class="col-3 border d-flex align-items-center">
          <app-bread-crumb/>
        </div>
        <div class="col-9 border">
          <app-lang-btn/>
        </div>
      </div> -->
      <div class="row border">
        <div class="col-4"><app-card-player /></div>
        <div class="col-4"><app-card-player /></div>
        <div class="col-4">
          <div class="row">
            <div class="col-6"><app-card-player /></div>
            <div class="col-6"><app-card-player /></div>
          </div>
        </div>
      </div>
      
    <!-- </div>
  </div>
</div> -->